@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --font-firacode: "Fira Code", "sans-serif";

    --color-background: var(--color-zinc-800);
    --color-primary: var(--color-green-500);
}